<div *ngIf="chosen.list.length === 0">
    <h1>Commencer une liste</h1>
    <p>Pour commencer une nouvelle liste, cherchez un chant, puis cliquez sur le
        &#9989;
    </p>
</div>
<div *ngIf="chosen.list.length > 0">
    <h1>Votre Liste du
        <mat-form-field>
            <mat-select [(value)]="curChoice" (valueChange)="updateListChoice()">
                @for (entry of chosen.list; track entry ){
                <mat-option value="{{$index}}">
                    {{ entry.name }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </h1>
    <div class="buttons">
        <button mat-stroked-button (click)="copyList()">Copier</button>
        <button mat-stroked-button (click)="renameList()">Renommer</button>
        <button mat-stroked-button (click)="addList()">Ajouter</button>
        <button mat-stroked-button (click)="removeList()">Enlever</button>
    </div>
    <div cdkDropList (cdkDropListDropped)="dropSong($event)">
        @for (song of chosen.currentList.songs; track song) {
        <div [class.chosen]="insertPos === $index">
            <span cdkDrag class="drag-box">
                <span (click)="deleteSong($index)" class="action">&#10060;</span>
                <span (click)="updateSongProposition($index)" class="action">&#10068;</span>
                <app-song-entry [song]="song" [hideCheck]="true"></app-song-entry>
            </span>
        </div>
        }
    </div>
    <h2>Propositions de chants</h2>
    <app-song-list [songs]="propositions"></app-song-list>
</div>