@import "../common.scss";

.drag-box {
    padding: 0.25em;
    // height: 5em;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    // background: white;
    font-size: 14px;
}

.action {
    padding: 3px;
    margin-right: 1em;
    cursor: default;
    background-color: #ccc;
    border: solid 1px #ccc;
}

.action:hover{
    border: solid 1px red;
}

.chosen {
    background: #fee;
}