h2 {
    font-size: 200% !important;
    padding-bottom: 1em;
}

button,
mat-dialog-content,
mat-label,
mat-hint,
mat-datepicker,
mat-form-field {
    font-size: 100% !important;
}

p {
    padding-bottom: 1em;
}