<body>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" />
  <div class="top_block">
    <div class="menu">
      <a routerLink="/search" class="inactive-menu-item">Recherche</a>
      <a routerLink="/dates" class="inactive-menu-item">Dates et chansons</a>
      <a routerLink="/preferred" class="inactive-menu-item">Chansons préférées</a>
      <a routerLink="/keywords" class="inactive-menu-item">Mots clés</a>
      <a routerLink="/authors" class="inactive-menu-item">Auteurs</a>
      <a routerLink="/choose" class="inactive-menu-item">Listes</a>
    </div>
  </div>

  <div *ngIf="loaded; else loading" class="container">
    <router-outlet></router-outlet>
  </div>
  <ng-template #loading>
    <div class="container">
      <h2>Loading data</h2>
    </div>
  </ng-template>
</body>