@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 60%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top_block {
    position: fixed;
    top: 0;
    left: 0;
    // margin: 0 auto;
    // align-items: center;
    // padding: 5px;
    width: 100%;
    background-color: #fff;
    // border: 12px solid #f00;
}

.menu {
    // left: 0;
    width: 80%;
    // height: 100px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    // background-color: #f00;
}

.menu a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    width: 100%;
    // margin: 0 auto;
    text-align: center;
    // background-color: #0ff;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 40px 20px 0px 0px;
}

.router-outlet {
    margin-top: 20px;
}

.active-menu-item {
    background-color: #007bff;
    color: white;
}

.inactive-menu-item {
    background-color: #fff;
    color: #007bff;
}