
a {
    background-color: #e0e0e0;
    text-decoration: none;
    color: #0e3454;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #000;
    padding: 2px;
    margin: 1px;
}

a:hover {
    background-color: #9f9d9d;
}

.song-list {
    list-style-type: none;
    line-height: 2em;
    padding: 0px;
}

.author {
    background-color: #effef2;
    border: 0px;
    margin-right: 1em;
}
