a {
    text-decoration: none;
    padding: 2px;
    margin: 1px;
}

.song-list {
    list-style-type: none;
    line-height: 2em;
    padding: 0px;
}

.author {
    background-color: #effef2;
    border: 0px;
    margin-right: 1em;
}

.mat-mdc-outlined-button {
    font-size: 100%;
}

.mat-mdc-checkbox {
    font-size: 20px;
}