@import "../styles.scss";

.songs {
    display: block;
    // width: 80%;
    padding: 0px 10px 10px 10px;
    margin: 0 0 20px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 2em;
}

.keyword {
    background-color: #f0effe;
    border: 0px;
}

.date {
    white-space: nowrap;
    display: inline;
}

span.date a:hover {
    background-color: #ee8;
}
span.date a {
    background-color: #ffffee;
    border: 0px;
}