<h1>Chercher dans les chansons</h1>

<div style="width: 80%;">
  <div class="input-group">
    <input class="form-control" #search placeholder="Chercher dans le numéro, nom, texte, ou mots clés" type="text"
      (input)="getValue($event)">
    <span class="input-group-btn">
      <a class="btn" style="color: rgb(204, 204, 204); text-decoration: none; " href="#clear">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
      <button type="submit" class="btn btn-default">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</div>
<div *ngIf="results.length > 0">
  <h2>Résultats</h2>
  <ul>
    <app-song-list [songs]="results"></app-song-list>
  </ul>
</div>