<div *ngIf="unknown_id; else show_song">
    <h1>
        Cet identifiant n'est pas connu.
    </h1>
</div>
<ng-template #show_song>
    <div *ngIf="song !== undefined">
        <h1>{{ book }} {{ song!.number }} - {{ song!.title }}</h1>
        <h2>Services</h2>
        <div style="line-height: 2em;">
            <span *ngFor="let service of services.slice().reverse(); last as isLast">
                <span class="date">
                    <a routerLink="/dates/{{service}}">{{ service }}</a>
                </span>
                <span *ngIf="!isLast">&nbsp; </span>
            </span>
        </div>
        <h2>Chosen</h2>
        This song has been chosen {{ services.length }} times.
        <h2>Keywords</h2>
        <div style="line-height: 2em;">
        <span *ngFor="let keyword of song.keywords;">
            <span class="date">
                <a routerLink="/keyword/{{keyword}}">{{ keyword }}</a>
                &nbsp;
            </span>
        </span></div>
        <h2>Song lyrics</h2>
        <pre>{{ song!.lyrics }}</pre>
        <h2>Author</h2>
        <span *ngFor="let author of song!.authors()">
            <a class="author" routerLink="/author/{{author}}">{{ author }}</a>
        </span>
    </div>
</ng-template>