<div *ngIf="unknown_id; else show_song">
    <h1>
        Cet identifiant n'est pas connu.
    </h1>
</div>
<ng-template #show_song>
    <div *ngIf="song !== undefined">
        <h1>{{ book }} {{ song!.number }} - {{ song!.title }}</h1>
        <h2>Services</h2>
        <span *ngFor="let service of services.slice().reverse(); last as isLast">
            {{ service }}
            <span *ngIf="!isLast"> - </span>
        </span>
        <h2>Keywords</h2>
        <h2>Song lyrics</h2>
    </div>
</ng-template>