<div *ngIf="services !== undefined">
    <a routerLink="/song/{{song!.get_book_number(listBooks, '-')}}">{{ song!.get_book_number_title(listBooks!) }}</a> -
    <span *ngIf="services!.length > 0; else none">
        {{ services!.length }} fois:
        <span *ngFor="let service of services!.slice().reverse(); last as isLast">
            <span class="date">
                <a routerLink="/dates/{{service}}">{{ service }}</a>
            </span>
            <span *ngIf="!isLast">&nbsp; </span>
        </span>
    </span>
    <ng-template #none>jamais</ng-template>
    <br>
    {{ song.author }}:
    <span *ngFor="let keyword of song!.keywords">
        <a class="keyword" routerLink="/keyword/{{keyword}}">{{ keyword }}</a>
        &nbsp;
    </span>
</div>