<div *ngIf="service_dates !== undefined" style="line-height: 2em;">
    <span *ngIf="!hideCheck">
        <a class="take" routerLink="/choose/{{song!.song_id}}">&#9989;</a> -
    </span>
    <a routerLink="/song/{{song!.get_book_number(listBooks, '-')}}">{{ song!.get_book_number_title(listBooks!) }}</a> -
    <span *ngIf="service_dates!.length > 0; else none">
        {{ service_dates!.length }} fois:
        <span *ngFor="let service of service_dates!.slice().reverse(); last as isLast">
            <span class="date">
                <a routerLink="/dates/{{service}}">{{ service }}</a>
            </span>
            <span *ngIf="!isLast">&nbsp; </span>
        </span>
    </span>
    <ng-template #none>jamais</ng-template>
    <br>
    <span *ngFor="let author of song!.authors()">
        <a class="author" routerLink="/author/{{author}}">{{ author }}</a>
    </span>
    <span *ngFor="let keyword of song!.keywords">
        <a class="keyword" routerLink="/keyword/{{keyword}}">{{ keyword }}</a>
        &nbsp;
    </span>
</div>